body,
html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

[data-bs-theme="dark"] {
    background-color: #202124 !important;
    color: #fff !important;

    .navbar a {
        color: #fff !important;
    }

    #google-apps:hover,
    #google-acc:hover {
        background-color: #2F3034;
    }

    .search-input .google-search>input:hover {
        background-color: #303134;
        box-shadow: 0 1px 6px 0 #171717;
        border-color: rgba(223, 225, 229, 0);
    }

    .google-search>input {
        border: #5F6368 1px solid;
        color: #fff;
    }

    .google-btns input {
        background-color: #303134;
    }

    .google-btns input:hover {
        background-color: #303134;
        border: #5F6368 1px solid;
    }
    
    .google-btns input:active {
        background-color: #303134 !important;
        border: #5F6368 1px solid !important;
    }

    .google-btns input:focus {
        border: #5F6368 1px solid !important;
    }
    

    footer {
        background-color: #171717;
    }

    .country {
        border-bottom: #3C4043 1px solid;
    }
}

[data-bs-theme="light"] {
    background-color: #fff !important;
    color: #000 !important;

    .navbar a {
        color: #000;
    }

    #google-apps {
        color: #5F6368 !important;
    }
    
    #google-apps:hover,
    #google-acc:hover {
        background-color: rgba(60,64,67,.08);
    }

    .search-input .google-search>input:hover {
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
        border-color: rgba(223,225,229,0);

    }
    
    .google-search>input {
        border: #DADCE0 1px solid !important;
    }

    .google-btns input {
        background-color: #f8f9fa;
        color: #3c4043 !important;
    }

    .google-btns input:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        background-color: #f8f9fa;
        border: 1px solid #dadce0;
        color: #202124;
    }


    .google-btns input:focus {
        border: 1px solid #4285f4;
        outline: none;
    }
    
    .lang>span {
        color: #4d5156;
    }

    .lang span>a {
        text-decoration: none;
        padding: 0 3px;
    }

    footer {
        background-color: #EEEEEE !important;
    }

    .country {
        border-bottom: #D6D8DC 1px solid !important;
    }   
}

.navbar {
    padding: 0.6rem 0 !important;
}

.navbar a {
    font: 13px/27px Roboto, Arial, sans-serif;
}


main section {
    gap: 1.6rem;
}

footer ul {
    padding: 0 !important;
    margin: 0 !important;
}

footer li {
    list-style: none;
}

#google-apps {
    height: 40px !important;
    width: 40px !important;
}

.navbar .nav-link:hover,
.navbar-nav .nav-link:hover, .quick-links .nav-link:hover {
    text-decoration: underline;
}

.country {
    padding: 12.4px 30px 12px;
    font-size: 15px;

}

.quick-links {
    padding: 0 22.5px;
}

.quick-links a, button {
    white-space: nowrap;
    padding: 12.5px !important;
}

.quick-links div.d-flex {
    gap: 0.3rem;
}

.google-logo {
    height: 288px;
}

.search-input {
    max-width: 608px;
}

.search-input .google-search>input {
    height: 48px;
    width: 100%;
    background-color: transparent;
}

.search-input .google-search>input:focus-visible {
    outline: none;
}

.search-input svg:nth-child(2) {
    right: 57px;
}

.search-input svg:nth-child(3) {
    right: 17px;
}

.google-btns {
    margin-top: 1.9rem;
    gap: .7rem;
}

.google-btns input {
    font-size: 14px;
    padding: .4rem 1rem;
}

.lang {
    margin-top: 1.1rem;
}

.lang>span {
    font-size: small;
}

.lang span>a {
    text-decoration: none;
    padding: 0 3px;
}

.lang span>a:hover {
    text-decoration: underline;
}

#menu {
    display: none !important;
}

@media (max-width: 1200px) {
    .quick-links ul {
        justify-content: space-evenly !important;
    }


}

@media (max-width: 816px) {
    .quick-links ul {
        flex-wrap: wrap;

        div {
            gap: 0;
        }
    }
}

@media (max-width: 392px) {

    #menu {
        display: block !important; 
    }

    .menu-options {
        display: none;
    }

    footer {
        margin-top: 3rem;
    }

    .quick-links ul {
        align-items: center;
    }

    .quick-links ul div {
        justify-content: center;
        align-items: center !important;
        flex-wrap: wrap;

        div {
            gap: 0;
        }
    }

    .quick-links a, button {
        font-size: 12px !important;
        padding: 6px !important;
    }

    .google-btns, .google-btns input {
        display: none;
    }

}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .google-logo {
        height: 130px;
    }
}